<%- include('partials/header') -%>
  <div class="container">
    <div class="col-sm-8">
        <div class="card-box">
          <h4 class="header-title mt-0 mb-3">Create new discussion</h4>
            <div class="">
                <form action="/discussion/createDiscussion" enctype="multipart/form-data" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                      <label for="text" class="form-label">Text</label>
                      <textarea class="form-control" id="text" name="text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <ul class="row list-unstyled">
                <% for(var i=0; i<discussions.length; i++) {%>
                <li class="col-6 justify-content-between mt-5">
                    <a href="/discussion/<%= discussions[i]._id%>">
                        <h1><%= discussions[i].title %></h1>
                        <p><%= discussions[i].text %></p>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
  </div>  
<%- include('partials/footer') -%>