<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ebd6827f1e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/feed.css">         
</head>

<header>
  <nav class="navbar navbar-default mb-5">
    <div class="container fluid">
      <div class="navbar-header">
        <a href="/profile" class="navbar-brand">PICKLE WAGON</a> 
      </div> 
      <div class="">
        <ul class="nav navbar-nav navbar-right navbar-toggle">
                <li><a href="/feed">HOME</a></li>
                <li><a href="/profile">PROFILE</a></li>
                <li><a href="/discussions">DISCUSSIONS</a></li>
                <li><a href="#">SOMETHING</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<body>
    <div class="container fluid">
      <div class="row">
        <!--Left Side Card-->
            <div class="col-md-3">
                <h3 class="text-center feed">INFO</h3>
                <div class="card-box custom-base mb-3">
                    <div class="card-body borders">
                        <h5 class="card-title">This is your feed.</h5>
                        <h6 class="card-subtitle mb-2 text-muted">(Anonymous feed)</h6>
                        <p class="card-text">Post about what's on your mind, talk about the good bad and ugly. Read about someone else's good bad and ugly. Tell us your whole story if that floats your boat. This is a safe space to talk.</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
        <!--FEED POST-->
      <div class="col-md-9">
        <div class="row">
                <div class="col-md-8">
                    <h3 class="text-center feed">FEED</h3>
                        <ul class="list-unstyled">
                            <% for(var i=0; i<posts.length; i++) {%>
                                <div class="card borders custom-base mt-2">
                                    <li class="card-body">
                                        <a href="/post/<%= posts[i]._id%>" class="text-dark">
                                            <h3 class="card-title text-center feed"><%= posts[i].title %></h3>
                                        </a>
                                        <div class="text-center">
                                            <img class="img-thumbnail" src="<%= posts[i].image%>">
                                        </div>
                                        <h4 class="card-text text-center"><%= posts[i].caption %></h4>
                                        <h4 class="butn borders fa fa-heart">Likes: <%= posts[i].likes %></h4>
                                        
                                            
                                            <!-- <h4 class="btn borders fa fa-heart">Likes: <%= posts[i].likes %></h4> -->
                                            <p class="text-muted h7 mb-2"><%= posts[i].createdAt %></p>
                                    </li>
                                </div>
                            <% } %>
                        </ul>
                </div>
            
            <!--Right Side Card-->
            <div class="col-md-4">
                <h3 class="text-center feed">RESOURCES</h3>
                <div class="card-box custom-base mb-3">
                    <div class="card-body borders text-center">
                        <h5 class="card-title">Looking for help?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">www.findtreatment.gov</h6>
                        <p class="card-text">Here is a reliable resource for finding rehab, detox, and everything in between based off of your zipcode. findtreatment is, unfortunately, a seemingly unknown website through SAMSA.</p>
                        <a href="https://www.samhsa.gov/" class="card-link">SAMSA</a>
                        <a href="https://findtreatment.gov/" class="card-link">findtreatment</a>
                    </div>
                </div>

                 <div class="card-box borders custom-base">
                    <div class="card-body">
                        <h5 class="card-title">Looking for therapy?</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Everyone needs therapy, not just your mom.</h6>
                        <p class="card-text">Here are some reliable resources for finding therapists near you, choose from specific issues to specific insurance. Therapy is great, take it from us.</p>
                        <a href="https://www.psychologytoday.com/us" class="card-link">Psychology Today</a>
                        <a href="https://www.healthgrades.com/" class="card-link">Health Grades</a>
                    </div>
                </div> 
             </div>
        </div>
      </div>
      </div>
      </div> 
                          
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 

</body>
    
<!-- <%- include('partials/footer') -%> -->