<head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ebd6827f1e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/profile.css">         
</head>

<header>
  <nav class="navbar navbar-default">
    <div class="container fluid">
      <div class="navbar-header">
        <a href="/profile" class="navbar-brand">PICKLE WAGON</a> 
      </div> 
      <div class="">
        <ul class="nav navbar-nav navbar-right navbar-toggle">
                <li><a href="/feed">HOME</a></li>
                <li><a href="/profile">PROFILE</a></li>
                <li><a href="/discussions">DISCUSSIONS</a></li>
                <li><a href="#">SOMETHING</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

    <div class="content">
      <div class="container">
          <div class="row mt-4">
              <div class="col-sm-12">
                  <div class="profile-user-box card-box bg-custom borders">
                    <div class="row">
                      <div class="col-sm-6"><span class="float-left mr-3"><img src="" alt="" class=""></span>
                          <div class="media-body text-white">
                              <h4 class="custom-text mt-1 mb-1"><strong>USER NAME</strong>: <%= user.userName %></h4>
                              <p class="custom-text"><strong>EMAIL</strong>: <%= user.email %></p>
                          </div>
                      </div>
                      
                      <div class="col-sm-6">
                            <div class="text-right">
                              <a href="/logout" class="col-3 btn custom-base borders highlight-button">LOGOUT</a>
                              <a class="btn custom-base borders highlight-button" href="/feed">RETURN TO FEED</a>
                            </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <!--end row-->
          <div class="row">
            <div class="col-xl-4">
              <!-- Personal-Information -->
              <!-- <div class="card-box borders">
                <h4 class="header-title mt-0">Personal Information</h4>
                <div class="panel-body">
                    <p class="text-muted font-13">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet mollitia sequi deserunt id earum et dolorum illum voluptates, magnam placeat tempora quasi dolore? Vel iure sequi fugiat expedita, iusto temporibus!</p>
                    <hr>
                    <div class="text-left">
                        <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15">Johnathan Deo</span></p>
                        <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15">(+12) 123 1234 567</span></p>
                        <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">coderthemes@gmail.com</span></p>
                        <p class="text-muted font-13"><strong>Location :</strong> <span class="m-l-15">USA</span></p>
                        <p class="text-muted font-13"><strong>Something Something</strong> <span class="m-l-5">Something Else</span></p>
                    </div>
                </div>
              </div> -->
              <!--End Personal Info-->

              <!--Discussions-->
              
              <div class="card-box borders ribbon-box">
                <a href="/discussions">
                  <div class="ribbon ribbon-primary borders highlight-button">Your Discussions</div>
                </a>
                <div class="clearfix"></div>
                <div class="inbox-widget">
                    <!-- <a href="#">
                      <div class="inbox-item">
                        <p class="inbox-item-author">Name of Discussion</p>
                        <p class="inbox-item-text">Description of Discussion Page</p>
                        <p class="inbox-item-date">
                            <button type="button" class="btn btn-icon btn-sm highlight-button btn-success">Click</button>
                        </p>
                    </div>
                  </a> -->
                    <ul class="list-unstyled">
                        <% for(var i=0; i<discussions.length; i++) {%>
                          <a href="/discussion/<%= discussions[i]._id%>">
                              <li class="inbox-item">
                                  <a class="inbox-item-author" href="/discussion/<%= discussions[i]._id%>">
                                    <p class=""><%= discussions[i].title %></p>
                                    <p class="inbox-item-text"><%= discussions[i].place_name %></p>
                                    <p class="inbox-item-date">
                                      <button type="button" class="btn btn-icon btn-sm highlight-button ">Click</button>
                                    </p>
                                  </a>
                              </li>
                          </a>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    <!--End Discussions-->

          <div class="col-xl-8">
              <div class="row">
                  <div class="col-sm-8">
                    <div class="card-box borders">
                      <h4 class="header-title mt-0 mb-3">Add a post</h4>
                      <div class="">
                          <div class="">
                              <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title</label>
                                    <input type="text" class="form-control borders" id="title" name="title">
                                </div>
                                <div class="mb-3">
                                  <label for="caption" class="form-label">Caption</label>
                                  <textarea class="form-control borders" id="caption" name="caption"></textarea>
                                </div>
                                <div class="mb-3">
                                  <label for="imgUpload" class="form-label">Image</label>
                                  <label class="custom-file ">
                                    <i class="fa fa-cloud-upload"></i> Upload
                                    <input type="file" class="borders" id="imageUpload" name="file">
                                  </label>
                                </div>
                                <button type="submit" class="btn highlight-button" value="Upload">Submit</button>
                              </form>
                          </div>
                      </div>
                    </div>
                  </div>
                  <!--Likes Box-->
                <div class="col-xl-4">
                  <div class="col-sm-12 borders counters">
                    <div class="card-box tilebox-one"><i class="icon-layers float-right text-muted"></i>
                      <h6 class="text-muted text-uppercase mt-0"></h6>
                      <h2>This is your stuff</h2><span></span><span class="text-muted">Make a post there <i class="fa-solid fa-arrow-left-long"></i></span>
                    </div>
                  </div>
                <!-- end likes count -->
                <!--sober count-->
                  <div class="col-sm-12 borders">
                    <div class="card-box tilebox-one"><i class="icon-layers float-right text-muted"></i>
                      <h6 class="text-muted text-uppercase mt-0"></h6>
                      <div>
                        <form action="/post/setDate" method="POST" id="daysForm">
                          <input type="datetime-local" id="local_time" for="local_time" name="local_time">
                          <button class="btn highlight-button" type="submit">Save</button>
                          <p class="countup_timer" id="countup_timer"><%= days[0].local_time %></p>
                        </form>
                        <p class="display_timer" id="display_timer"></p>
                      </div>
                    </div>
                  </div>
                </div>
            
                <hr>
                <div class="container">
                  <div class="row">
                  <div class="col-md-8">
                      <ul class="list-unstyled">
                        <h2 class="text-center">Your Posts</h2>
                        <% for(var i=0; i<posts.length; i++) {%>
                          <div class="card mt-5 borders custom-base">
                            <li class="card-body">
                              <a class="text-dark" href="/post/<%= posts[i]._id%>">
                                <h3 class="card-title text-center custom-text"><%= posts[i].title %></h3>
                              </a>
                              <div class="text-center">
                                <img class='img-thumbnail' src="<%= posts[i].image%>">
                              </div>
                                <p class="custom-text text-center"><%= posts[i].caption %></p>
                            </li>
                          </div>
                        <% } %>
                      </ul>  
                    </div>
                  </div>
                </div>
              </div>
          </div> 
      </div>
    </div>


<script>


  const daysForm = document.getElementById("daysForm")

  daysForm.addEventListener("submit", function timechanged(e){
      e.preventDefault();
      let currentDay = document.getElementById("local_time")
      let startingDate = new Date(currentDay.value).getTime();
      let counter = document.querySelector('.countup_timer');

      setInterval(function() {
        let newDate = new Date().getTime();
        let finalDate = newDate - startingDate;

        let days = Math.floor(finalDate / (1000 * 60 * 60 * 24));
        let hours = Math.floor((finalDate % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor((finalDate % (1000 * 60 *60)) / (1000 * 60));
        let seconds = Math.floor((finalDate % (1000 * 60)) / 1000);

        counter.textContent = days+" days "+hours+" hours "+minutes+" minutes "+seconds+" seconds ";
    }, 1000) 
    })

    // window.onload = function showTime(){
    //   let currentDay = document.getElementById("countup_timer")
    //   let startingDate = new Date(currentDay.value).getTime();
    //   let counter = document.querySelector('.display_timer');

    //   setInterval(function() {
    //     let newDate = new Date().getTime();
    //     let finalDate = newDate - startingDate;

    //     let days = Math.floor(finalDate / (1000 * 60 * 60 * 24));
    //     let hours = Math.floor((finalDate % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    //     let minutes = Math.floor((finalDate % (1000 * 60 *60)) / (1000 * 60));
    //     let seconds = Math.floor((finalDate % (1000 * 60)) / 1000);

    //     counter.textContent = counter + days+"d"+hours+"h"+minutes+"m"+seconds+"s";
    // }, 1000)
    // }




</script>